<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sksalstn.test.mybatis.repository.EstateRepository">
 
 	<select id="selectEstate" parameterType="int"
 	resultType="com.sksalstn.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}	
 	
 	</select>
 	
 	<select id="selectEstateByRentPrice" parameterType="int"
 	resultType="com.sksalstn.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`type` = '월세'
 			AND <![CDATA[ `rentPrice` < #{rentPrice} ]]> 
 	
 	</select>
 
 </mapper>