@charset "UTF-8";

#wrap{
	height: 800px;
	width: 1200px;
	 margin:0 auto;
	
}

.contents-left{
	height: 700px;
	width: 200px;
}

.contents-right{
	height: 700px;
	width: 1000px;
}

.rogo{
	height: 100px;
	width: 200px;
}

.address{
	height: 100px;
	width: 1000px;
}