@charset "UTF-8";

#wrap{
	
	width: 1200px;
	 margin:0 auto;
	
}

.contents-left{
	
	width: 200px;
background-color: #4287f5;
}

.contents-right{
	
	width: 1000px;
}

.rogo{
	height: 100px;
	width: 200px;
}

.address{
	height: 100px;
	width: 1000px;
}

#wrap{
	width: 1200px;
}

.contents{
	width: 200px;
	background-color: #4287f5;
}

.inpit{
	
}